/* Global settings */

* {
    text-align: center;
}


header{
    display: flex;
    justify-content: space-between;
}


.timer {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}  
#start {
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    color: white;
  }

  h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

li{
    list-style: none;
    margin: auto;
    width: 20%;
    height: 20%;
    padding-right: 3%;
    visibility: hidden;
}

